<div class="banner_bg_main">
   <div class="container">
      <div class="header_section_top">
         <div class="row">
            <div class="col-sm-12">
               <div class="custom_menu">
                  <ul>
                     <li>Developed by</li>
                     <li><a href="https://github.com/emreozakyildiz">Emre ÖZAKYILDIZ</a></li>
                     <li> & </li>
                     <li><a href="https://github.com/Fatmabirel">Fatma BİREL</a></li>
                  </ul>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="logo_section">
      <div class="container">
         <div class="row">
            <div class="col-sm-12">
               <div class="logo"><a href="index.html"><img src="../../assets/images/logo.png"></a></div>
            </div>
         </div>
      </div>
   </div>
   <div class="header_section">
      <div class="container">
         <div class="containt_main">
            <div class="dropdown">
               <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">All Category
               </button>
               <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
               </div>
            </div>
            <div class="main">
               <app-search></app-search>
            </div>
         </div>
      </div>
   </div>
   <!-- header section end -->
</div>