<div class="container">
   <div class="header_section_top">
      <div class="row">
         <div class="custom_menu">
            <ul>
               <li>Developed by</li>
               <li><a href="https://github.com/emreozakyildiz">Emre ÖZAKYILDIZ</a></li>
               <li> & </li>
               <li><a href="https://github.com/Fatmabirel">Fatma BİREL</a></li>
            </ul>
         </div>
      </div>
   </div>
</div>
<div class="logo_section">
   <div class="container">
      <div class="row">
         <div class="col-sm-12">
            <div class="logo"><a href="index.html"><img src="../../assets/images/logo.png"></a></div>
         </div>
      </div>
   </div>
</div>
<div class="header_section">
   <div class="container">
      <div class="containt_main">
         <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
               aria-expanded="false">Tüm Kategoriler</button>
            <ul class="dropdown-menu">
               <li><a class="dropdown-item" href="#">Yiyecek & İçecek</a></li>
               <li><a class="dropdown-item" href="#">Elektronik</a></li>
               <li><a class="dropdown-item" href="#">Giyim</a></li>
            </ul>
         </div>
         <div class="main">
            <app-search></app-search>
         </div>
      </div>
   </div>
</div>
<app-result></app-result>