<div class="col-md-3">
    <div class="card">
        <div class="image-container">
            <div class="first">
                <div class="d-flex justify-content-between align-items-center">
                    <span class="discount">-25%</span>
                    <span class="wishlist"><i>{{product?.marketID}}</i></span>
                </div>
            </div>
            <img src="https://i.imgur.com/8JIWpnw.jpg" class="img-fluid rounded thumbnail-image">
        </div>
        <div class="product-detail-container p-2">
            <div class="d-flex justify-content-between align-items-center">
                <h5 class="product-name">{{product?.productName}}</h5>
                <div class="d-flex flex-column mb-2">
                    <span class="new-price">{{product?.productPrice}}</span>
                </div>
            </div>
            <div class="d-flex justify-content-between align-items-center pt-1">
                <div>
                    <i class="fa fa-star-o rating-star"></i>
                    <span class="rating-number">{{product?.productID}}</span>
                </div>
                <span class="buy">SATIN AL</span>
            </div>
        </div>
    </div>
</div>