<div class="col-md-3">
    <div *ngIf="product" class="card">
        <div class="image-container">
            <div class="first">
                <div class="d-flex justify-content-between align-items-center">
                    <span class="discount">-25%</span>
                    <span class="wishlist"><img class="market_logo" [src]="getMarketLogoUrl(product.marketID)" alt=""></span>
                </div>
            </div>
            <img src="../../assets/images/shopping.jpg" class="img-fluid rounded thumbnail-image">
        </div>
        <div class="product-detail-container p-2">
            <div class="d-flex justify-content-between align-items-center">
                <h5 class="product-name">{{product.productName}}</h5>
                <div class="d-flex flex-column mb-2">
                    <span class="new-price">{{product.productPrice + myCurrency }}</span>
                </div>
            </div>
            <div class="d-flex justify-content-between align-items-center pt-1">
                <div>
                    <i class="fa fa-star-o rating-star"></i>
                    <span class="rating-number">{{product.productID}}</span>
                </div>
                <span class="buy">SATIN AL</span>
            </div>
        </div>
    </div>
</div>